<p>
Thank you for visiting! Our page is under construction.	
</p>

<p>
Please visit <%= link_to "Michelle Li Murphys - Hand Dyed Silk", "http://www.michellelimurphy.com" %>
</p>

<p>
Or visit our <%= link_to "Facebook Page", "http://www.facebook.com/stonewellstudio" %>
</p>
