// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.sw-content{
  width: 960px;
  margin: 0px auto;
}


@media (min-width: 768px){
  .sw-header{
  width: 960px;
  height: 315px;
  background: url("sw_headerDesktop.gif");
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .sw-header{
    width:600px;
    height:200px;
    background: url("sw_headerTablet.gif");
  }
}

@media (max-width: 480px){
  .sw-header{
    width:460px;
    height: 150px;
    background: url("sw_headerPhone.gif")
  }
}

