<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stonewell</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="row sw-content">
		<div class="col-lg-12 sw-header"></div>
		<div class="col-lg-12"><%= yield %></div>
	</div>


</body>
</html>
